process.env.PORT = process.env.PORT || 3000;
process.env.database = 'database';
process.env.user = 'user';
process.env.password = 'password';
process.env.NODE_ENV = process.env.NODE_ENV || 'dev';
process.env.SECRETKEY = "SECRET KEY";

let urlDatabase;

if (process.env.NODE_ENV === 'dev') {
    urlDatabase = ''
} else {
    urlDatabase = '';
}

process.env.URLDB = urlDatabase;