process.env.PORT = process.env.PORT || 3000;
process.env.database = '';
process.env.user = '';
process.env.password = '';
process.env.NODE_ENV = process.env.NODE_ENV || 'dev';
process.env.SECRETKEY = '';
process.env.DATABASEPORT = 3306;

let urlDatabase = 0;
let port = 0;

if (process.env.NODE_ENV === 'dev') {
    urlDatabase = '';
    port = 3306;
} else {
    urlDatabase = '';
    port = 0;
}

process.env.URLDB = urlDatabase;
process.env.DATABASEPORT = port;
